 .top-section { 
 	height: 100px;
 	width: 100px;
 	overflow:hidden;
 }

 .image_container-full {
	background-image: url(./images/IMG_0400.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	background-size: auto;
	background-color: #1D5E8D;
	height: 500px;
}